<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Personal website of Maxi Ferreira, a.k.a. Charca.">
    <meta name="author" content="Maxi Ferreira <charca@gmail.com>">
    <meta name="keywords" content="web developer, javascript developer, javascript, html, css, web design, freelance">
    <title>Charca - Maxi Ferreira</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
