<section class="container">
  <div class="content">
    <div class="greet">
      <h1 class="greet__name">Maxi Ferreira</h1>
      <h2 class="greet__text">I write code for the web and mobile</h2>
    </div>
  </div>
</section>

<section class="container container--alt">
  <div class="content intro">
    <p class="intro__text">My name is Maxi Ferreira, and I'm a Front-end Developer from Buenos Aires, Argentina.</p>

    <div class="social">
      <a class="social__link" href="https://github.com/charca">GitHub</a>
      <a class="social__link" href="https://twitter.com/charca">Twitter</a>
      <a class="social__link" href="https://facebook.com/charca">Facebook</a>
      <a class="social__link" href="https://linkedin.com/in/charca">LinkedIn</a>
      <a class="social__link" href="mailto:charca@gmail.com">Email</a>
    </div>
  </div>
</section>

<section class="container">
  <div class="content experience">
    <h2 class="experience__title">Work Experience</h2>

    <div class="experience__item">
      <h3 class="experience__date">2011<span class="experience__month">/AUG</span> - Present</h3>
      <div class="experience__details">
        <h3 class="experience__company">Globant</h3>
        <h4 class="experience__position">Technical Lead</h4>
        <p class="experience__description">
          Team coordination, working with Project Leads to provide clear direction of development features. Communication between onsite and offshore teams, organising the workflow of front-end related requirements.
        </p>
        <h4 class="experience__position">Senior Front-End Developer</h4>
        <p class="experience__description">
          Developed everything from simple features to complex UIs for a large amount of projects and clients; including Disney, Intuit, Technicolor and Southwest Airlines. Experienced with different frameworks and technologies, and formed part of the core UI team of the company.
        </p>
        <p class="experience__technologies">What I used: Backbone.js, Marionette.js, Angular, React, LESS, SASS, Node.js, Grunt, Gulp, Jasmine, Jest, Mocha, Chai, Sinon, Require.js, Browserify, Babel, MySQL, MongoDB...</p>
      </div>
    </div>

    <div class="experience__item">
      <h3 class="experience__date">2010<span class="experience__month">/JUL</span> - 2011<span class="experience__month">/AUG</span></h3>
      <div class="experience__details">
        <h3 class="experience__company">Trade Scan</h3>
        <h4 class="experience__position">Web UI Developer</h4>
        <p class="experience__description">
          Assisted in the implementation of new features and technologies for the company's applications. Conceptualized a new version of the company's main software, "TradeScan". Designed a new look and feel for the TradeScan software. Developed a dynamic client-oriented billing software.
        </p>
        <p class="experience__technologies">What I used: PHP, MSSQL, MySQL, ActionScript 3.0, Adobe AIR, Adobe Flex SDK, jQuery, jQuery Mobile, CodeIgniter...</p>
      </div>
    </div>

    <div class="experience__item">
      <h3 class="experience__date">2009<span class="experience__month">/MAY</span> - 2009<span class="experience__month">/DEC</span></h3>
      <div class="experience__details">
        <h3 class="experience__company">Target Urbano</h3>
        <h4 class="experience__position">PHP Developer</h4>
        <p class="experience__description">
          Assisted in the organization of the company's software documentation. Assisted in the implementation of new technologies and good programming practices to the company's workflow.
        </p>
        <p class="experience__technologies">What I used: PHP, MSSQL, MySQL, jQuery, ActionScript 2.0, CodeIgniter...</p>
      </div>
    </div>

    <div class="experience__item">
      <h3 class="experience__date">2007<span class="experience__month">/MAY</span> - Present</h3>
      <div class="experience__details">
        <h3 class="experience__company">Freelance &amp; Open Source</h3>
        <h4 class="experience__position">Web Developer / UI Designer</h4>
        <p class="experience__description">
          Developed a set of commercial websites for regional and overseas clients. Developed custom Content Management Systems according to the project's needs. Adapted designer's initial concepts and mockups into fully functional websites. Played the role of UI/UX Designer as well as Back-end and Front-end developer. Created and collaborated in several open source projects.
        </p>
        <p class="experience__technologies">What I used: Backbone.js, Marionette.js, React, Knockout.js, LESS, SASS, Node.js, Grunt, Gulp, Jasmine, Jest, Mocha, Chai, Sinon, Require.js, Browserify, Babel, MySQL, MSSQL, MongoDB, CodeIgniter, Laravel, jQuery Mobile...</p>
      </div>
    </div>
  </div>
</section>

<section class="container container--alt">
  <div class="content footer">
    <p>&copy; 2015 Maxi Ferreira.</p>
    <p class="footer__disclaimer">All the code in this website is open source and can be found <a class="link--alt" href="https://github.com/Charca/me">here</a>.</p>
  </div>
</section>
