<div class="container">
  <h1>Hi, I'm Maxi</h1>
  <p>I write code for the web and mobile</p>

  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>

  <img src="/images/mate.svg" alt="Mate" height="110">
</div>