// Code for the unused Mate.svg logo
// Markup looks something like this:
// <div class="logo">
//   <img class="mate" src="/images/mate.svg" alt="Mate" height="80">
//   <div class="bubbles">
//     <div class="bubble"></div>
//     <div class="bubble"></div>
//     <div class="bubble"></div>
//   </div>
// </div>

.logo {
  float: left;
  position: relative;
  margin-bottom: 20px;
}

// MATE BUBBLES
.bubbles {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 0;
}

.bubble {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #000;
  position: absolute;
  -webkit-animation: bubbleUp 5s infinite;
}

.bubble:nth-child(1) {
  left: 10px;
  bottom: 0;
}

.bubble:nth-child(2) {
  left: 22px;
  bottom: 10px;
  -webkit-animation-duration: 4s;
}

.bubble:nth-child(3) {
  left: 34px;
  bottom: 5px;
  -webkit-animation-duration: 6s;
}


@-webkit-keyframes bubbleUp {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(0, -50px);
    opacity: 0;
  }
}
